@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
   font-family: 'Poppins', sans-serif;
 }
 
.headeruno {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 50;
   background:transparent;/* bg-slate-900/80 */
   backdrop-filter: blur(8px); /* backdrop-blur-sm */
 }
 
 .container {
   max-width: 1280px; /* mx-auto */
   padding: 16px; /* px-4 py-4 */
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 
 .header-logo {
   height: 50px; /* Ajusta la altura según sea necesario */
   width: auto; /* Mantiene la proporción de la imagen */
 }
 
 
 .nav {
   display: none; /* hidden */
 }
 
 .nav {
   display: flex; /* flex */
   align-items: center; /* items-center */
   gap: 24px; /* gap-6 */
 }
 
 .nav-link {
   color: #ffffff; /* text-white */
   text-decoration: none; /* no-underline */
   font-weight: 500; /* font-medium */
 }
 
 /*botones*/
 .buttons {
   display: flex; /* flex */
   gap: 16px; /* gap-4 */
   margin: 7px;
 }
 

 .buttons .login {
   background: transparent;
   position: relative;
   padding: 8px 16px;
   display: flex;
   align-items: center;
   font-size: 1rem;
   text-decoration: none;
   cursor: pointer;
   border: 1px solid rgb(255, 254, 254);
   border-radius: 25px;
   outline: none;
   overflow: hidden;
   color:white;
   transition: color 0.3s 0.1s ease-out;
   text-align: center;
 }

 .buttons .register{
   background-color: white;
   position: relative;
   padding: 8px 16px;
   display: flex;
   align-items: center;
   font-size: 1rem;
   text-decoration: none;
   cursor: pointer;
   border: 1px solid rgb(255, 254, 254);
   border-radius: 25px;
   outline: none;
   overflow: hidden;
   color: #101C5D;
   text-align: center;
 }
